@page "/"

@inject ProductService productService

<div class="container">
    <div class="row">
        @foreach (var product in _products)
        {
            <div class="col-sm-4 col-md-4 p2 ">
                <div class="card" style="width: 18rem;">
                    <img src="@product.ImageUrl"
                    class="card-img-top d-flex justify-content-center p-2" alt="Smart Watch">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description.Substring(0,Math.Min(50,product.Description.Length))</p>
                        <p class="text-secondary text-center h2 fontweight-bold">@product.Price.ToString("C")</p>
                        <a href="#" class="btn btn-danger w-100">Add to Cart</a>
                        
                    </div>
                </div>
                <br>
            </div> 
        }
    </div>
</div>

@code {
    List<Product> _products = new List<Product>();
    protected override void OnInitialized()
    {
        _products = productService.GetProducts();
        base.OnInitialized();
    }
}